    * {
        padding: 0;
        margin: 0;
        font-family: Quicksand;
        --main-color: coral;
        --main-txt-color: blue;
        --main-padding: 15px;
    }

    body {
        height: 100vh;
        width: 100vw;
        background-size: cover;
        position:center;
        background-repeat:no-repeat;
    }

    .container {
        margin-bottom: 40px;
    }

    .heading {
        text-align: center;
        color: #071752;
        font-size: 25px;
        padding: 20px;
    }

    .flexContainer {
        display: flex;
        width: 230px;
        padding: 10px;
        margin: auto;
    }

    .inputField {
        flex: 1;
        border: none;
        border: 1px solid #071752;
        border-radius: 5px;
        padding: 5px;
    }

    .edu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-wrap: wrap;
    }












    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 10px;
        letter-spacing: 2px;
        font-weight: lighter;
        background: #303138;
        color: white;
        padding: 10px;
        text-align: center;

        z-index: 100;
    }

    .alert {
        padding: 10px;

        background-color: #071752;
        color: white;
    }

    .closebtn {
        color: white;
        font-weight: bold;
        float: right;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }





        .flip-card {
            background-color: transparent;
            width: 250px;
            height: 29rem;
            perspective: 1000px;

        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }


         .flip-card-front{
         display:flex;
         justify-content:center;
         align-items:center;}



        .flip-card-front,
        .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
                border-radius:7px;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .flip-card-back {
            background-color: #2980b9;
            color: white;
            transform: rotateY(180deg);
             border-radius:7px;
        }

        .edu-heading {
            text-align: center;
            border-bottom: solid 1px rgb(255, 243, 230);
            color: rgb(36, 36, 36);
            width: 95%;
            height: 85%;

            padding-top:25px; justify-content:center;

        }


        .edupic {
            position: absolute;
            top: 20%;
            width: 100%;
        }

        .temp {
            position: absolute;
            top: 85%;
            width: 100%;
            left: 0px;
            color: rgb(255, 243, 230);
        }

        .wtr {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-image: url('rain.jpg');
            background-size: cover;

        }

        .wtr div {
            color: rgb(247, 247, 247);
            overflow: hidden;
            width: 80%;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            border-bottom: 1px solid rgb(226, 226, 226);
        }

        .wtr img {
            width: 15px;
        }

        .wtr div:hover {
            background: rgba(22, 43, 110, 0.808);
            width: 100%;
            transition: 1s;
        }



          @media only screen and (min-width: 600px) {
        .flip-card {
            display: flex;
            width: 350px;
            height: 35rem;

        }
        .flexContainer {
            width: 350px;
        }
        .heading {
            border-bottom: 2px solid white;
            font-size: 30px;
            ;
        }
    }