<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pingo</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static  'pingoweather/css/mystyle.css' %}">
</head>


<body style="background-image: url({% static  'pingoweather/img/a.jpg' %});">

    <div class="container">

        {% if messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        <div class="heading">
            <p>PINGO WEATHER</p>
        </div>





        <form method="POST" action="" id="miForm">
            {% csrf_token %}
            <div class="flexContainer">
                <input type="text" class="inputField" placeholder="Search city" name="value" id="value" required>
                <button><img src="{% static 'pingoweather/img/btn.png' %} " alt="Arrow Icon " style="width:20px; padding:2px; border:1px solid #071752 " ></button>
            </div>
        </form>

        <div class="edu-container ">
            <div class="flip-card">
                <div class="flip-card-inner">


                    {%if pweather == 'Rain'%}
                    <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/droprain.jpg' %}); background-size: cover; ">



                        {% elif pweather == 'Clear'%}
                        <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/sun.jpg' %}); background-size: cover; ">



                            {% elif pweather == 'Haze'%}
                            <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/mist.jpg' %}); background-size: cover; ">


                                {% elif pweather == 'Clouds'%}
                                <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/rain2.jpg' %}); background-size: cover; ">

                                    {% elif pweather == 'Drizzle'%}
                                    <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/drizzle.jpg' %}); background-size: cover; ">

                                        {% elif pweather == 'Thunderstorm'%}
                                        <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/thunder.jpg' %}); background-size: cover; ">


                                            {% elif pweather == 'Sand'%}
                                            <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/sunny.png' %}); background-size: cover; ">

                                                {% elif pweather == 'Dust'%}
                                                <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/sunny.png' %}); background-size: cover; ">

                                                    {% elif pweather == 'Mist'%}
                                                    <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/fog.jpg' %}); background-size: cover; ">
                                                        {% elif pweather == 'Snow'%}
                                                        <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/ice.jpg' %}); background-size: cover; ">

                                                            {% elif pweather == 'Fog'%}
                                                            <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/haze.jpg' %}); background-size: cover; ">

                                                                {%else%}
                                                                <div class="flip-card-front" style="background-image: url({% static 'pingoweather/img/minimal.jpg' %}); background-size: cover; ">
                                                                    {%endif%}


                                                                    <div class="edu-heading ">
                                                                        <h2 class="location" style=" text-transform: uppercase;">{{pweather}}</h2>
                                                                        <p class="date ">{{pcity}} | {{hometime}}</p>
                                                                        <div class="edupic "><img src="{{picon}} "></div>
                                                                        <h2 class="temp ">{{ptemp}} &deg;C | {{ftemp}} &deg;F</h2>
                                                                    </div>


                                                                </div>
                                                                <div class="flip-card-back ">

                                                                    <div class="wtr" style="background-image: url({% static  'pingoweather/img/sunny1.jpg' %});">
                                                                        <div> <img src="{% static 'pingoweather/img/temperature.png'%} ">Temperature :{{ptemp}}</div>
                                                                        <div><img src="{% static 'pingoweather/img/feels.png'%}"> Feels like :{{pfeels_like}}</div>
                                                                        <div><img src="{% static 'pingoweather/img/temp.png'%} ">Max : {{ptemp_max}}</div>
                                                                        <div><img src="{% static 'pingoweather/img/cold.png'%} ">Min : {{ptemp_min}}</div>
                                                                        <div><img src="{% static 'pingoweather/img/weather.png'%}">Weather : {{pweather}} </div>
                                                                        <div><img src="{% static 'pingoweather/img/water.png'%}">Humidity : {{phumidity}} </div>
                                                                        <div><img src="{% static 'pingoweather/img/wind.png'%}">Wind :{{pspeed}} km/h </div>
                                                                        <div><img src="{% static 'pingoweather/img/umbrella.png'%}">Cloud : {{pclouds}} </div>
                                                                        <div><img src="{% static 'pingoweather/img/sunrise.png'%}">Sunrise : {{psunrise}} </div>
                                                                        <div><img src="{% static 'pingoweather/img/sunset.png'%}">Sunset : {{psunset}} </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="footer">
                                                        <p>Handcrafted by Arnab Das</p>
                                                    </div>


</body>

</html>