<!DOCTYPE html>
<html lang="en">
 {% load static %}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="pingoweather/css/mystyle.css">
     <link rel="stylesheet" type="text/css" href="{% static  'pingoweather/css/style.css' %}">
    <title>Document</title>
</head>

<body>

    <div class="base">
        <div class="heading">
            <h1 class="textheading">
                <span class="textinfo">Pingo Weather</span>
            </h1>
        </div>
        <div class="container">
            <div class="row">
                <h1 class="l1">{{pcity}}</h1>
                <p class="l1">
                    <a href="/"><img src="{% static 'pingoweather/img/goback.png' %}"></a>
                </p>
            </div>
            <div class="row1">
                <div class="subitem"> <img src="{% static 'pingoweather/img/temperature.png' %}">
                    <p class="l1">Temperature:{{ptemp}} °c</p>
                </div>
                <div class="subitem"> <img src="{% static 'pingoweather/img/feels.png' %}">
                    <p class="l1">Fells like:{{pfeels_like}} °c</p>
                </div>
            </div>
            <div class="row1">
                <div class="subitem"> <img src="{% static 'pingoweather/img/temp.png' %}">
                    <p class="l1">Max temp: {{ptemp_max}} °c</p>
                </div>
                <div class="subitem"> <img src="{% static 'pingoweather/img/cold.png' %}">
                    <p class="l1">Min temp: {{ptemp_min}} °c</p>
                </div>
            </div>
            <div class="row1">
                <div class="subitem"> <img src="{% static 'pingoweather/img/umbrella.png' %}">
                    <p class="l1">Weather:{{pweather}} </p>
                </div>
                <div class="subitem"> <img src="{% static 'pingoweather/img/water.png' %}">
                    <p class="l1">Humidity:{{phumidity}} </p>
                </div>
            </div>
            <div class="row1">
                <div class="subitem"><img src="{% static 'pingoweather/img/wind.png' %}">
                    <p class="l1">Wind speed:{{pspeed}}km/h</p>
                </div>
                <div class="subitem"><img src="{% static 'pingoweather/img/weather.png' %}">
                    <p class="l1">Cloud:{{pclouds}}</p>
                </div>
            </div>
            <div class="row1">
                <div class="subitem"> <img src="{% static 'pingoweather/img/sunrise.png' %}">
                    <p class="l1">Sunrise:{{psunrise}}</p>
                </div>
                <div class="subitem"> <img src="{% static 'pingoweather/img/sunset.png' %}">
                    <p class="l1">Sunset:{{psunset}}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>